@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img src="~/images/puppies.jpg" class="img-fluid w100">
</div>

<div class="row">
    <div class="col-md-12">
        <h1 class="text-center"> ÚLTIMOS RESCATADOS </h1>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <h2>Dumbo</h2>
        <img src="~/images/doberman-puppie.jpg" class="w100" />
        <p class="mt-10"><a class="btn btn-default" href="/Perros/Details/1"> Información </a></p>
    </div>
    <div class="col-md-3">
        <h2>Frank</h2>
        <img src="~/images/doberman-puppie.jpg" class="w100" />
        <p class="mt-10"><a class="btn btn-default" href="/Perros/Details/2"> Información </a></p>
    </div>
    <div class="col-md-3">
        <h2>Rocky</h2>
        <img src="~/images/chi-puppie.jpg" class="w100" />
        <p class="mt-10"><a class="btn btn-default" href="/Perros/Details/3"> Información </a></p>
    </div>
    <div class="col-md-3">
        <h2>Mickey</h2>
        <img class="w100" src="~/images/doberman-puppie.jpg" />
        <p class="mt-10"><a class="btn btn-default" href="/Perros/Details/4"> Información </a></p>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Voli</h2>
        <img src="~/images/doberman-puppie.jpg" class="w100" />
        <p class="mt-10"><a class="btn btn-default" href="/Perros/Details/5"> Información </a></p>
    </div>
    <div class="col-md-3">
        <h2>Capitan</h2>
        <img src="~/images/chi-puppie.jpg" class="w100" />
        <p class="mt-10"><a class="btn btn-default" href="/Perros/Details/6"> Información </a></p>
    </div>
    <div class="col-md-3">
        <h2>Tommy</h2>
        <img src="~/images/doberman-puppie.jpg" class="w100" />
        <p class="mt-10"><a class="btn btn-default" href="/Perros/Details/7"> Información </a></p>
    </div>
    <div class="col-md-3">
        <h2>Luna</h2>
        <img class="w100" src="~/images/chi-puppie.jpg" />
        <p class="mt-10"><a class="btn btn-default" href="/Perros/Details/8"> Información </a></p>
    </div>
</div>